asgiref
Django
django-cors-headers
djangorestframework
docx2txt
drf-yasg
et-xmlfile
inflection
lxml
numpy
openpyxl
packaging
pandas
pdf2image
pillow
plum-dispatch
pytesseract
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
six
Spire.Doc
sqlparse
tqdm
typing-extensions
tzdata
uritemplate
mailersend
